<app-navbar></app-navbar>
<body>
    <div class="heading">        
        <h1>Select User</h1>        
    </div>
    <div class="p-text">        
        <p>Select a user to continue to login</p>        
    </div>
    <div class="user-card" routerLink="/homepage">
        <img src="../../../../../../assets/img/user.png" alt="Patient">
        <p>
            Patient
        </p>
    </div>
    <div class="user-card" routerLink="/landing-page/doctor-login">
        <img src="../../../../../../assets/img/doctor.png" alt="Patient">
        <p>
            Doctor
        </p>
    </div>
    <div class="user-card" routerLink="/landing-page/nurse-login">
        <img src="../../../../../../assets/img/nurse.png" alt="Patient">
        <p>
            Nurse
        </p>
    </div>
    <div class="user-card" routerLink="/landing-page/admin-login">
        <img src="../../../../../../assets/img/user (1).png" alt="Patient">
        <p>
            Admin
        </p>
    </div>
</body>
