/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #0e4cc0 0%, #0e4cc0 51%, #1FA2FF 100%);
}