<app-navbar></app-navbar>
<body>
    <form class="form-register" #form="ngForm">
        <p class="title">My Profile </p>
        <div class="flex">
            <div class="half-width">
                <label>
                    <input 
                    class="input" 
                    type="text" 
                    id="FirstName" 
                    name="FirstName"
                    [(ngModel)]="patient.firstName"
                    placeholder="" 
                    required="">
                    <span>Firstname *</span>
                </label>
            </div>
            <div class="half-width">
                <label>
                    <input 
                    class="input" 
                    type="text" 
                    id="LastName" 
                    name="LastName"
                    [(ngModel)]="patient.lastName"
                    placeholder="" 
                    required="">
                    <span>Lastname *</span>
                </label>
            </div>
        </div>  
    
        <div class="flex">
            <div class="half-width">
                <label>
                    <input 
                    class="input" 
                    type="date" 
                    id="DateOfBirth"
                    [placeholder]="''" 
                    name="DateOfBirth"
                    [(ngModel)]="patient.dob"
                    required="">
                    <span>Date of Birth *</span>
                </label>
            </div>
            <div class="half-width">
                <label>
                    <input 
                    class="input" 
                    type="text" 
                    id="NicNo"
                    name="NicNo"
                    [(ngModel)]="patient.nicNo"  
                    placeholder="" 
                    required="">
                    <span>NIC No</span>
                </label>
            </div>
        </div>        
    
        <div class="flex">
            <div class="half-width">
                <label>
                    <input 
                    class="input" 
                    type="text" 
                    id="MobileNo" 
                    name="MobileNo"
                    [(ngModel)]="patient.mobileNo"
                    placeholder="" 
                    required="">
                    <span>Mobile No *</span>
                </label>
            </div>
            <div class="half-width">
                <label>
                    <input 
                    class="input" 
                    type="email" 
                    id="Email" 
                    name="Email"
                    [(ngModel)]="patient.email"
                    placeholder="" 
                    required="">
                    <span>Email</span>
                </label>
            </div>
        </div>
        
        <label>
            <input 
            class="input" 
            type="text" 
            id="Address" 
            name="Address"
            [(ngModel)]="patient.address"
            placeholder=""
            required="">
            <span>Address</span>
        </label> 
    
        <div class="flex">
            <div class="half-width">
                <label>
                    <input 
                    class="input" 
                    type="text" 
                    id="Username" 
                    name="Username"
                    [(ngModel)]="patient.username"
                    placeholder="" 
                    required="">
                    <span>Username *</span>
                </label>
            </div>
            <div class="half-width">
                <label>
                    <input 
                    class="input" 
                    type="password" 
                    id="Password" 
                    name="Password"
                    [(ngModel)]="patient.password"
                    placeholder="" 
                    required="">
                    <span>Password *</span>
                </label>
            </div>
        </div>
        <div class="flex">
            <div class="half-width">
                <label>
                    <input 
                    class="input" 
                    type="text" 
                    id="height" 
                    name="height"
                    [(ngModel)]="patient.height"
                    placeholder="cm" 
                    required="">
                    <span>Height</span>
                </label>
            </div>
            <div class="half-width">
                <label>
                    <input 
                    class="input" 
                    type="text" 
                    id="weight" 
                    name="weight"
                    [(ngModel)]="patient.weigth"
                    placeholder="kg" 
                    required="">
                    <span>Weight</span>
                </label>
            </div>
            <div class="half-width">
                <p-dropdown 
                id="bloodtype" 
                name="bloodtype"
                [options]="bloodtypes" 
                [(ngModel)]="patient.bloodtype" 
                optionLabel="name"
                optionValue="code"
                placeholder="Bloodtype"/>
            </div>
        </div>  
        <input 
            class="input" 
            type="hidden" 
            id="id" 
            name="id"
            [(ngModel)]="patient.id"
            placeholder="" 
            required="">        
        <button (click)="updateDetails(patient)">Update</button>
    </form>  
</body>