################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API/HealthPort.API/.vs/HealthPort.API/FileContentIndex/a96db240-9ac8-4f27-b4ff-481327d174cc.vsidx
/API/HealthPort.API/.vs/HealthPort.API/FileContentIndex/a99d6cc3-5ca9-4199-83a9-68a3acf7420e.vsidx
/API/HealthPort.API/.vs/HealthPort.API/FileContentIndex
