################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API/HealthPort.API/.vs/HealthPort.API/FileContentIndex/a96db240-9ac8-4f27-b4ff-481327d174cc.vsidx
/API/HealthPort.API/.vs/HealthPort.API/FileContentIndex/a99d6cc3-5ca9-4199-83a9-68a3acf7420e.vsidx
/API/HealthPort.API/.vs/HealthPort.API/FileContentIndex
/API/HealthPort.API/.vs/HealthPort.API/FileContentIndex/v17
/API/HealthPort.API/.vs/HealthPort.API/FileContentIndex/DesignTimeBuild
/API/HealthPort.API/.vs/HealthPort.API/v17/*.suo
/API/HealthPort.API/HealthPort.API/bin/
/API/HealthPort.API/HealthPort.API/obj/
/API/HealthPort.API/.vs/HealthPort.API/v17/.suo
/API/HealthPort.API/HealthPort.API/bin/Debug/net8.0/HealthPort.API.dll
/API/HealthPort.API/HealthPort.API/bin/Debug/net8.0/HealthPort.API.exe
/API/HealthPort.API/HealthPort.API/bin/Debug/net8.0/HealthPort.API.pdb
/API/HealthPort.API/HealthPort.API/obj/Debug/net8.0/ref/HealthPort.API.dll
/API/HealthPort.API/HealthPort.API/obj/Debug/net8.0/refint/HealthPort.API.dll
/API/HealthPort.API/HealthPort.API/obj/Debug/net8.0/apphost.exe
/API/HealthPort.API/HealthPort.API/obj/Debug/net8.0/HealthPort.API.AssemblyInfo.cs
/API/HealthPort.API/HealthPort.API/obj/Debug/net8.0/HealthPort.API.AssemblyInfoInputs.cache
/API/HealthPort.API/HealthPort.API/obj/Debug/net8.0/HealthPort.API.csproj.CoreCompileInputs.cache
/API/HealthPort.API/HealthPort.API/obj/Debug/net8.0/HealthPort.API.dll
/API/HealthPort.API/HealthPort.API/obj/Debug/net8.0/HealthPort.API.pdb
/API/HealthPort.API/HealthPort.API/obj/Debug/net8.0/HealthPort.API.sourcelink.json
/API/HealthPort.API/.vs/HealthPort.API/DesignTimeBuild/.dtbcache.v2
/API/HealthPort.API/.vs/HealthPort.API/v17/.futdcache.v2
/API/HealthPort.API/.vs/ProjectEvaluation/healthport.api.metadata.v7.bin
/API/HealthPort.API/.vs/ProjectEvaluation/healthport.api.projects.v7.bin
