$form-bg: #fffdfd;
$form-color: #080808;
$form-border: #c0c0c0;
$form-focus: #00bfff;
body{
    background-image: linear-gradient(to right, #0e4cc0 0%, #0e4cc0  51%, #1FA2FF  100%);
    height: 573px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 450px;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  background-color: $form-bg;
  color: $form-color;
  border: 1px solid $form-border;

  .title {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: $form-focus;

    &::before,
    &::after {
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      border-radius: 50%;
      left: 0px;
      background-color: $form-focus;
    }

    &::before {
      width: 18px;
      height: 18px;
    }

    &::after {
      width: 18px;
      height: 18px;
      animation: pulse 1s linear infinite;
    }
  }

  .message, .signin {
    font-size: 14.5px;
    color: rgba(0, 0, 0, 0.7);
  }

  .signin {
    text-align: center;

    a:hover {
      text-decoration: underline royalblue;
    }

    a {
      color: $form-focus;
    }
  }

  .flex {
    display: flex;
    width: 100%;
    gap: 6px;

    .half-width {
      flex: 1;
    }
  }

  label {
    position: relative;

    .input {
      background-color: white;
      color: $form-color;
      width: 100%;
      padding: 20px 05px 05px 10px;
      outline: 0;
      border: 1px solid rgba(0, 0, 0, 0.397);
      border-radius: 10px;

      & + span {
        color: rgba(0, 0, 0, 0.918);
        position: absolute;
        left: 10px;
        top: 0px;
        font-size: 0.9em;
        cursor: text;
        transition: 0.3s ease;
      }

      // &:placeholder-shown + span {
      //   top: 12.5px;
      //   font-size: 0.9em;
      // }

      &:focus + span,
      &:valid + span {
        color: $form-focus;
        top: 0px;
        font-size: 0.7em;
        font-weight: 600;
      }
    }
  }

  .input {
    font-size: medium;
  }

  .submit {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: $form-color;
    font-size: 16px;
    transform: .3s ease;
    background-color: $form-focus;

    &:hover {
      background-color: rgba($form-focus, 0.6);
    }
  }

  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }

    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }
}
