<app-navbar></app-navbar>
<p-toast />
<body>
  <div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-2">
            <app-side-panel></app-side-panel>
        </div>
        <div class="col py-3" style="margin-left: 230px;">
          <h1 style="color: white;">Create Patients Account  <i class="fa-solid fa-hospital-user icon"></i></h1>

          <form class="form-register" #form="ngForm" (ngSubmit)="addPatient()">
            <div class="flex">
                <div class="half-width">
                    <label>
                        <input 
                        class="input" 
                        type="text" 
                        id="FirstName" 
                        name="FirstName"
                        [(ngModel)]="patientRegistration.firstName"
                        placeholder="" 
                        required="">
                        <span>Firstname *</span>
                    </label>
                    <label *ngIf="this.submitBtnClicked == true && this.patientRegistration.firstName == ''" style="color: red;">Field is required <i class="pi pi-info-circle"></i></label>
                </div>
                <div class="half-width">
                    <label>
                        <input 
                        class="input" 
                        type="text" 
                        id="LastName" 
                        name="LastName"
                        [(ngModel)]="patientRegistration.lastName"
                        placeholder="" 
                        required="">
                        <span>Lastname *</span>
                    </label>
                    <label *ngIf="this.submitBtnClicked == true && this.patientRegistration.lastName == ''" style="color: red;">Field is required <i class="pi pi-info-circle"></i></label>
                </div>
            </div>  
    
            <div class="flex">
                <div class="half-width">
                    <label>
                        <input 
                        class="input" 
                        type="date" 
                        id="DateOfBirth"
                        [placeholder]="''" 
                        name="DateOfBirth"
                        [(ngModel)]="patientRegistration.dob"
                        required="">
                        <span>Date of Birth *</span>
                    </label>
                    <label *ngIf="this.submitBtnClicked == true && this.patientRegistration.dob == null" style="color: red;">Field is required <i class="pi pi-info-circle"></i></label>
                </div>
                <div class="half-width">
                    <label>
                        <input 
                        class="input" 
                        type="text" 
                        id="NicNo"
                        name="NicNo"
                        [(ngModel)]="patientRegistration.nicNo"  
                        placeholder="" 
                        required="">
                        <span>NIC No*</span>
                    </label>
                    <label *ngIf="this.submitBtnClicked == true && this.patientRegistration.nicNo == null" style="color: red;">Field is required <i class="pi pi-info-circle"></i></label>
                </div>
            </div>        
        
            <div class="flex">
                <div class="half-width">
                    <label>
                        <input 
                        class="input" 
                        type="text" 
                        id="MobileNo" 
                        name="MobileNo"
                        [(ngModel)]="patientRegistration.mobileNo"
                        placeholder="" 
                        required="">
                        <span>Mobile No *</span>
                    </label>
                    <label *ngIf="this.submitBtnClicked == true && this.patientRegistration.mobileNo == null" style="color: red;">Field is required <i class="pi pi-info-circle"></i></label>
                </div>
                <div class="half-width">
                    <label>
                        <input 
                        class="input" 
                        type="email" 
                        id="Email" 
                        name="Email"
                        [(ngModel)]="patientRegistration.email"
                        placeholder="" 
                        required="">
                        <span>Email*</span>
                    </label>
                    <label *ngIf="this.submitBtnClicked == true && this.patientRegistration.email == ''" style="color: red;">Field is required <i class="pi pi-info-circle"></i></label>
                </div>
            </div>
            
            <label>
                <input 
                class="input" 
                type="text" 
                id="Address" 
                name="Address"
                [(ngModel)]="patientRegistration.address"
                placeholder=""
                required="">
                <span>Address*</span>
            </label> 
            <label *ngIf="this.submitBtnClicked == true && this.patientRegistration.address == ''" style="color: red;">Field is required <i class="pi pi-info-circle"></i></label>
            <div class="flex">
                <div class="half-width">
                    <label>
                        <input 
                        class="input" 
                        type="text" 
                        id="Username" 
                        name="Username"
                        [(ngModel)]="patientRegistration.username"
                        placeholder="" 
                        required="">
                        <span>Username *</span>
                    </label>
                    <label *ngIf="this.submitBtnClicked == true && this.patientRegistration.username == ''" style="color: red;">Field is required <i class="pi pi-info-circle"></i></label>
                </div>
                <div class="half-width">
                    <label>
                        <input 
                        class="input" 
                        type="password" 
                        id="Password" 
                        name="Password"
                        [(ngModel)]="patientRegistration.password"
                        placeholder="" 
                        required="">
                        <span>Password *</span>
                    </label>
                    <label *ngIf="this.submitBtnClicked == true && this.patientRegistration.password == ''" style="color: red;">Field is required <i class="pi pi-info-circle"></i></label>
                </div>
            </div>
            <button class="submit">Create account</button>
        </form>   
        </div>
    </div>
  </div>
</body>

