.col {
    display: flex;
    gap: 20px; // Adjust the gap size as needed
    flex-wrap: wrap;
  }

  .cards{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .card {
    margin-right: 10px;
    margin-left: 10px;
    width: 250px;
    height: 120px;
    background: rgb(17, 4, 134);
    border-radius: 15px;
    box-shadow: rgb(0,0,0,0.7) 5px 10px 50px ,rgb(0,0,0,0.7) -5px 0px 250px;
    display: flex;
    color: white;
    justify-content: center;
    position: relative;
    flex-direction: column;
    background: linear-gradient(to right, rgb(20, 30, 48), rgb(36, 59, 85));
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    overflow: hidden;

    &:hover {
      box-shadow: rgb(0,0,0) 5px 10px 50px ,rgb(0,0,0) -5px 0px 250px;
    }

    
  }
  
  .green{
    background: #198754;
   }
   
  .time-text {
    font-size: 50px;
    margin-top: 0px;
    margin-left: 15px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .time-sub-text {
    font-size: 15px;
    margin-left: 5px;
  }
  
  .day-text {
    font-size: 18px;
    margin-top: 0px;
    margin-left: 15px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .icon {
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 15px;
    transition: all 0.3s ease-in-out;
  }
  
  .card:hover > .icon {
    font-size: 23px;
  }

  h1, h3{
    color: white;
    margin-left: 8px;
  }

  h3{
    padding-top: 100px;
    padding-bottom: 15px;
    padding-left: 8px;
  }

  