<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
      <img *ngIf="menuType==='landing-page'" src="../../../assets/img/logo.jpg" alt="Logo" routerLink="">
      <img *ngIf="menuType==='homepage'" src="../../../assets/img/logo.jpg" alt="Logo" routerLink="/homepage">
      <img *ngIf="menuType==='admin'" src="../../../assets/img/logo.jpg" alt="Logo" routerLink="/admin-dashboard">
      <img *ngIf="menuType==='nurse'" src="../../../assets/img/logo.jpg" alt="Logo" routerLink="/nurse/dashboard">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent" [ngSwitch]="menuType">

        <!-- default items on navbar -->
        <ul class="navbar-nav" *ngSwitchCase="'default'">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/landing-page/patient-login">Book Appointment</a>
          </li>  
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/landing-page/pat-registration">Register</a>
          </li>        
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/landing-page/facilities">Our facilities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="Appointment">Contact</a>
          </li>
        </ul>

        <!-- default items on navbar for landing page-->
        <ul class="navbar-nav" *ngSwitchCase="'landing-page'">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/landing-page/patient-login">Book Appointment</a>
          </li>       
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/landing-page/pat-registration">Register</a>
          </li>   
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/landing-page/facilities">Our facilities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="Appointment">Contact</a>
          </li>
        </ul>

        <!-- patient items on navbar -->
        <ul class="navbar-nav" *ngSwitchCase="'homepage'">  
          <li class="nav-item">
            <a class="nav-link" routerLink="my-appointments">My Appointments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">My reports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/landing-page/facilities">Chatroom</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/landing-page/facilities">Our facilities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="Appointment">Contact</a>
          </li>
        </ul>

        
      </div>  
      <div *ngIf="menuType==='landing-page'">
        <button class="btn-login" type="submit" routerLink='/landing-page/select-user'>
          <a><i class="fa-solid fa-right-to-bracket"></i> <span class="ms-1 d-none d-sm-inline">Sign in</span></a>
        </button>       
      </div>
      <div ngbDropdown class="d-inline-block" *ngIf="menuType==='homepage'">
        <button type="button" class="btn-login" id="dropdownBasic1" ngbDropdownToggle>
          <a><i class="fa-solid fa-user"></i><span class="ms-1 d-none d-sm-inline">{{username}}</span></a>
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem><a><span class="ms-1 d-none d-sm-inline">My profile   </span><i class="fa-solid fa-user"></i></a></button>
          <button ngbDropdownItem (click)="logout()"><a><span class="ms-1 d-none d-sm-inline">Logout   </span><i class="fa-solid fa-right-from-bracket"></i></a></button>
        </div>
      </div>  
      <div ngbDropdown class="d-inline-block" *ngIf="menuType==='admin'">
        <button type="button" class="btn-login" id="dropdownBasic1" ngbDropdownToggle>
          <a><i class="fa-solid fa-user"></i><span class="ms-1 d-none d-sm-inline">{{username}}</span></a>
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem><a><span class="ms-1 d-none d-sm-inline">My profile   </span><i class="fa-solid fa-user"></i></a></button>
          <button ngbDropdownItem (click)="logout()"><a><span class="ms-1 d-none d-sm-inline">Logout   </span><i class="fa-solid fa-right-from-bracket"></i></a></button>
        </div>
      </div>  
      <div ngbDropdown class="d-inline-block" *ngIf="menuType==='nurse'">
        <button type="button" class="btn-login" id="dropdownBasic1" ngbDropdownToggle>
          <a><i class="fa-solid fa-user"></i><span class="ms-1 d-none d-sm-inline">{{username}}</span></a>
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem><a><span class="ms-1 d-none d-sm-inline">My profile   </span><i class="fa-solid fa-user"></i></a></button>
          <button ngbDropdownItem (click)="logout()"><a><span class="ms-1 d-none d-sm-inline">Logout   </span><i class="fa-solid fa-right-from-bracket"></i></a></button>
        </div>
      </div>          
    </div>
  </nav>  