<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
      <img *ngIf="menuType==='landing-page'" src="../../../assets/img/logo.jpg" alt="Logo" routerLink="">
      <img *ngIf="menuType==='homepage'" src="../../../assets/img/logo.jpg" alt="Logo" routerLink="/homepage">
      <img *ngIf="menuType==='admin'" src="../../../assets/img/logo.jpg" alt="Logo" routerLink="/admin-dashboard">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent" [ngSwitch]="menuType">

        <!-- default items on navbar -->
        <ul class="navbar-nav" *ngSwitchCase="'default'">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/landing-page/patient-login">Book Appointment</a>
          </li>  
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/landing-page/pat-registration">Register</a>
          </li>        
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/landing-page/facilities">Our facilities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="Appointment">Contact</a>
          </li>
        </ul>

        <!-- default items on navbar for landing page-->
        <ul class="navbar-nav" *ngSwitchCase="'landing-page'">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/landing-page/patient-login">Book Appointment</a>
          </li>       
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/landing-page/pat-registration">Register</a>
          </li>   
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/landing-page/facilities">Our facilities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="Appointment">Contact</a>
          </li>
        </ul>

        <!-- patient items on navbar -->
        <ul class="navbar-nav" *ngSwitchCase="'homepage'">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" (click)="openEnd(content)">Book Appointment</a>
          </li>          
          <li class="nav-item">
            <a class="nav-link" href="#">My reports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/landing-page/facilities">Chatroom</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/landing-page/facilities">Our facilities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="Appointment">Contact</a>
          </li>
        </ul>

        
      </div>  
      <div *ngIf="menuType==='landing-page'">
        <button class="btn-login" type="submit" routerLink='/landing-page/select-user'>
          <a><i class="fa-solid fa-right-to-bracket"></i> <span class="ms-1 d-none d-sm-inline">Sign in</span></a>
        </button>       
      </div>
      <div *ngIf="menuType==='homepage'">
        <button class="btn-login" type="submit" routerLink='/homepage/account'>
          <a><i class="fa-solid fa-user"></i><span class="ms-1 d-none d-sm-inline">{{username}}</span></a>
        </button>       
      </div>
      <div *ngIf="menuType==='admin'">
        <button class="btn-login" type="submit" >
          <a><i class="fa-solid fa-user"></i><span class="ms-1 d-none d-sm-inline">{{username}}</span></a>
        </button>       
      </div>            
    </div>
  </nav>  

  <!-- book appointment offcanvas -->
<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
      <h4 class="offcanvas-title">Book Appointment</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
  </div>
  <div class="offcanvas-body">
      <form class="form-register" #form="ngForm">
              <div class="half-width">
                  <label>
                      <input 
                      class="input" 
                      type="text" 
                      id="speciality" 
                      name="speciality"
                      placeholder="" 
                      required="">
                      <span>Patient name</span>
                  </label>
              </div> 
          <div class="flex">
              <div class="half-width">
                  <label>
                      <input 
                      class="input" 
                      type="text" 
                      id="speciality" 
                      name="speciality"
                      placeholder="" 
                      required="">
                      <span>Speciality</span>
                  </label>
              </div>
              <div class="half-width">
                  <label>
                      <input 
                      class="input" 
                      type="text" 
                      id="LastName" 
                      name="LastName"
                      placeholder="" 
                      required="">
                      <span>Doctor</span>
                  </label>
              </div>
          </div>
  
          <div class="flex">
              <div class="half-width">
                  <label>
                      <input 
                      class="input" 
                      type="date" 
                      id="DateOfBirth"
                      [placeholder]="''" 
                      name="DateOfBirth"
                      required="">
                      <span>Date *</span>
                  </label>
              </div>
          </div>            
          <button class="submit">Book Appointment</button>
      </form>   
  </div>
</ng-template>