<app-navbar></app-navbar>
<body>
    <div class="main">
        <div class="slogan">
            <h1>Empowering Hospitals,</h1>
            <h1>Enhancing Care</h1>
            <p>Welcome to Healthport, Your Complete Management Solution</p>
        </div>
        <div class="buttons">
            <button class="btn-appointment" routerLink="/homepage/book-appointment">
                <a><span class="ms-1 d-none d-sm-inline">book an appointment     </span><i class="fa-regular fa-calendar-check"></i></a>
            </button>
            <button class="btn-learn">
                <a><span class="ms-1 d-none d-sm-inline">Learn more     </span><i class="fa-solid fa-arrow-right"></i></a>
            </button>
        </div>
    </div>
    <!-- <app-about></app-about> -->
    <app-facilities></app-facilities>
</body>
    