<!-- <app-home></app-home> -->
<div class="hospital-facilities">
    <h2>Hospital Facilities</h2>
    
    <div class="facility">
      <img src="../../../../assets/img/fac1.jpg" alt="Facility 1">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <button>
        <a><span>Explore</span><i class="fa-solid fa-magnifying-glass"></i></a>
      </button>
    </div>
    
    <div class="facility">
      <img src="../../../../assets/img/fac2.jpg" alt="Facility 2">
      <p>Description of Facility 2</p>
      <button>
        <a><span>Explore</span><i class="fa-solid fa-magnifying-glass"></i></a>
      </button>
    </div>
    
    <div class="facility">
      <img src="../../../../assets/img/fac3.jpg" alt="Facility 3">
      <p>Description of Facility 3</p>
      <button>
        <a><span>Explore</span><i class="fa-solid fa-magnifying-glass"></i></a>
      </button>
    </div>
  </div>
  