<app-navbar></app-navbar>
<body>
  <div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-2">
            <app-side-panel></app-side-panel>
        </div>
        <div class="col py-3" style="margin-left: 230px;">
          <h1 style="color: white;">Create Nurse Account  <i class="fa-solid fa-hospital-user icon"></i></h1>

          <form class="form-register" #form="ngForm" (ngSubmit)="addNurse()">
            <div class="flex">
                <div class="half-width">
                    <label>
                        <input 
                        class="input" 
                        type="text" 
                        id="FirstName" 
                        name="FirstName"
                        [(ngModel)]="nurseRegistration.firstName"
                        placeholder="" 
                        required="">
                        <span>First name *</span>
                    </label>
                </div>
                <div class="half-width">
                    <label>
                        <input 
                        class="input" 
                        type="text" 
                        id="LastName" 
                        name="LastName"
                        [(ngModel)]="nurseRegistration.lastName"
                        placeholder="" 
                        required="">
                        <span>Last name *</span>
                    </label>
                </div>
            </div>  
    
            <div class="flex">
                <div class="half-width">
                    <label>
                        <input 
                        class="input" 
                        type="date" 
                        id="DateOfBirth"
                        [placeholder]="''" 
                        name="DateOfBirth"
                        [(ngModel)]="nurseRegistration.dob"
                        required="">
                        <span>Date of Birth *</span>
                    </label>
                </div>
                <div class="half-width">
                    <label>
                        <input 
                        class="input" 
                        type="text" 
                        id="NicNo"
                        name="NicNo"
                        [(ngModel)]="nurseRegistration.nicNo"  
                        placeholder="" 
                        required="">
                        <span>NIC No</span>
                    </label>
                </div>
            </div>        
        
            <div class="flex">
                <div class="half-width">
                    <label>
                        <input 
                        class="input" 
                        type="text" 
                        id="MobileNo" 
                        name="MobileNo"
                        [(ngModel)]="nurseRegistration.mobileNo"
                        placeholder="" 
                        required="">
                        <span>Mobile No *</span>
                    </label>
                </div>
                <div class="half-width">
                    <label>
                        <input 
                        class="input" 
                        type="email" 
                        id="Email" 
                        name="Email"
                        [(ngModel)]="nurseRegistration.email"
                        placeholder="" 
                        required="">
                        <span>Email</span>
                    </label>
                </div>
            </div>
            
            <label>
                <input 
                class="input" 
                type="text" 
                id="Address" 
                name="Address"
                [(ngModel)]="nurseRegistration.address"
                placeholder=""
                required="">
                <span>Address</span>
            </label> 
        
            <div class="flex">
                <div class="half-width">
                    <label>
                        <input 
                        class="input" 
                        type="text" 
                        id="Username" 
                        name="Username"
                        [(ngModel)]="nurseRegistration.username"
                        placeholder="" 
                        required="">
                        <span>Username *</span>
                    </label>
                </div>
                <div class="half-width">
                    <label>
                        <input 
                        class="input" 
                        type="password" 
                        id="Password" 
                        name="Password"
                        [(ngModel)]="nurseRegistration.password"
                        placeholder="" 
                        required="">
                        <span>Password *</span>
                    </label>
                </div>
            </div>
        
            <button class="submit">Create account</button>
        </form>   
        </div>
    </div>
  </div>
</body>

